@media(min-width : 600px){
    #body{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    #principal{
        height: 100vh;
        width: 100vw;
        background: linear-gradient(blueviolet, #f7750bce);
        display: flex;
    }

    #categorias{
        width: 80%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
        padding: 7%;
    }

    #categoria{
        border-radius: 20px;
        text-align: center;
        box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: xxx-large;
        color: beige;
        background-color: #f9c11a73;
    }

    #texto{
        font-size: x-large;
        padding: 5%;
    }

    #saludo{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../src/img/backgrounds/background3.jpg);
        background-size: cover;
        padding: 10%;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
    }

    #imagen{
        width: 45%;
    }

    #mostrar-mascotas{
        padding: 2%;
        box-sizing: border-box;
    }

    #mascota{
        margin-bottom: 10px;
        background-color: white;
        padding: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 5px gray;
      
    }

    #saludo2{
        text-align: center;
        color: #f7750bce;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #mascota{
        margin: 10px;
        background-color: #fa9a4cda;
        padding: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 5px gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
    }

    #nombre-mascota{
        font-family: 'Negrita' !important;
        text-align: center;
    }

    #btn-adoptar{
        font-size: smaller ;
    }

    
    #img-logo{
        width: 5%;
    }

    #seleccionar-categoria{
        width: 80%;
        margin-top: 8%;
    }

    #contenedor-mascotas{
        height: 65vh;
    }

    #info-empresa{
        padding: 7%;
    }

    #img-logo-1{
        width: 10%;
    }
}

@media(max-width : 599px){
    #body{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    #principal{
        height: 100vh;
        width: 100vw;
        background: linear-gradient(blueviolet, #f7750bce);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #categorias{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .categoria{
        border-radius: 20px;
        text-align: center;
        box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: xxx-large;
        color: beige;
        background-color: #d3a41873;
        width: 70%;
        height: 40%;
    }

    #texto{
        font-size: large;
        padding: 5%;
    }

    #saludo{
        height: 65%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        background-size: cover;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    #imagen{
        width: 50%;
    }

    #mostrar-mascotas{
        padding: 2%;
        box-sizing: border-box;
    }

    #saludo2{
        text-align: center;
        color: #f7750bce;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #mascota{
        background-color: #fa9a4cda;
        cursor: pointer;
        padding: 10px;
        box-shadow: 0px 0px 5px gray;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #nombre-mascota{
        font-family: 'Negrita' !important;
        text-align: center;
    }

    #btn-adoptar{
        font-size: small ;
    }

    
    #img-logo{
        width: 10%;
    }
    
    #seleccionar-categoria{
        width: 80%;
        margin-top: 20%;
    }

    #contenedor-mascotas{
        height: 80vh;
    }

    #info-empresa{
        padding: 10%;
        padding-top: 20%;
    }

    #img-logo-1{
        width: 25%;
    }
}

#contenedor-mascotas{
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
    margin: 5%;
}

#mostrar-mascotas{
    width: 100vw;
    height: 100vh;
}

.categoria:hover{
    background-color: rgba(159, 83, 230, 0.726);
}

#btn-adoptar{
    border-radius: 5px;
    width: 100%;
    background-color: white;
    border-bottom: red;
}

#nav{
    padding-left: 2%; 
    padding-right: 2%;
    justify-content: center;
}

#encabezado-modal{
    background-color: #f7750bce;
    color: white;
}

#modal-mascotas-user{
    height: 100vh;
}

.modal-body{
    height: 70vh;
    overflow: scroll;
}

#enlaces{
    padding: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#enlace{
    background-color: white;
    width: 100%;
}

#info-empresa{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centrado{
    text-align: center;
}

#btn-mostrar-mascotas{
    background-image: url(../src/img/logo/icono1.png);
    width: 40px;
    height: 50px;
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}